ion-card {
  margin-top: 2px;
  margin-bottom: 2px;
}

.good-chip {
  --background: #2dd55b;
  --color: #000;
  font-weight: bold;
  font-size: 14px;
}

.warning-chip {
  --background: #ffc409;
  --color: #000;
  font-weight: bold;
  font-size: 14px;
}

.danger-chip {
  --background: #f24c58;
  --color: #000;
  font-weight: bold;
  font-size: 14px;
}
